/**
 * Variable Definitions
 */
$background_color = #dd4242

/**
 * Styles
 */
body 
  background-color: $background_color

li
  list-style: none

.center 
	text-align: center

.chain 
	background-color: #ccc

.habit
	background-color: rgba(255, 255, 255, 0.05)
	border-bottom: 1px solid #aaa

.habits
	width: 100%

.daily-status
	text-align: center
	width: 20%
