/**
 * Variable Definitions
 */
//$background_color = #4E94BF
$background_color_top = #FF9502
$background_color_bottom = #ff5a02
$icon_color = #bf4402
//$text_color = #212526
$text_color = #f3f3f3
$navbar_color = rgba(8, 4, 0, 0.90)
$title_shadow = #000
$habit_background = #e8e0dc
$link_on_color = #8fc800
$link_on_color_bottom = #419e00
//$link_off_color = #BA9D55
$link_off_color = #bbb
$cell_trans_percent = 0.0
$nav_height = 57px

/**
 * Styles
 */
html, body
    height: 100%

body
    //background: $habit_background
    background-color: #000
    background-image: url('../themes/highway-216090.jpg')
    background-repeat: no-repeat
    background-attachment: fixed
    background-size: cover !important
    -webkit-background-size: cover !important
    color: $text_color

h1, h2, h3
    color: #fff
    letter-spacing: 0.075em
    text-shadow: 1px 1px 0 $title_shadow

hr
    background: $background_color_top
    color: $background_color_top
    border: none
    height: 1px

label
    font-size: 120%


li
    list-style: none

a
    color: $background_color_top

a:hover
    color: $background_color_top
    text-decoration: underline

// Turn off tap highlight behavior
div, img, span, td, tr {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.banner
    font-size: 250%
    margin: 1.0em 0
    text-align: center
    text-shadow: 1px 1px 0 #000

.card
    background: rgba(166, 186, 191, 0.15)
    border-radius: 0.35em
    //float: left
    display: inline-block
    margin: 1em
    padding: 0.25em
    width: 132px

.card-chain
	//border-bottom: 1px solid #333
	padding: 5px 0
	word-wrap: break-word
	text-align: center

.card-link
    background-color: $link_off_color
    margin-right: 1px

.card-link-true
    background: $link_on_color; /* Old browsers */
    background: -moz-linear-gradient(top, $link_on_color 0%, $link_on_color_bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$link_on_color), color-stop(100%,$link_on_color_bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $link_on_color 0%,$link_on_color_bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, $link_on_color 0%,$link_on_color_bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom, $link_on_color 0%,$link_on_color_bottom 100%); /* W3C */

.card-title {
    border-top: 1px solid rgba($background_color_top, 0.25);
    color: #eee;
    float: left;
    //height: 64px;
    padding-top: 5px;
    text-align: center;
    text-shadow: 1px 1px 0 #000;
	width: 100%;
    word-wrap: break-word;
}

.card-toggle
	margin: 0 auto

.center 
    text-align: center

.constrain-width
    margin: 0 auto
    max-width: 512px

.content
    margin-top: $nav_height
    padding-bottom: 0.5em

.day
    background: rgba(166, 186, 191, 0.15)
    border: none
    border-top: none
    border-radius: 0.35em
    border-top-left-radius: 0
    border-top-right-radius: 0
    color: #eee
    font-size: 1.10em
    padding: $nav_height 0.05em 0.5em 0.05em
    text-shadow: 1px 1px 0 #000

.details
    color: #eee
    padding-top: $nav_height
    text-shadow: 1px 1px 0 #000

.details-btns
    margin: 3.0em 0

.details-cal
    padding: 0.5em 0.25em
    text-align: center

.details-cal-day
    color: #fff
    display: block
    font-size: 250%
    font-weight: bold
    margin: 0.25em 0
    text-shadow: 1px 1px 0 #000

.details-day
    padding-top: 1.25em
    text-align: center

.details-day-completed
    color: #ddd
    font-size: 85%
    letter-spacing: 0.085em
    margin: 0.25em 0

.details-day-name
    color: #fff
    display: block
    font-size: 200%
    text-shadow: 1px 1px 0 #000

.details-link
    border-radius: 0.35em
    background: rgba(166, 186, 191, 0.15)
    margin: 1em 0
    //padding: 0.25em 0

.details-toggle
    margin: 0.5em

.habit
    color: #333
    margin: 0 auto
    text-shadow: none
    width: 98%

.habit-overview
    padding-bottom: 0.75em
    width: 80%

.habit-toggle
    background-image: url(../images/status-toggle.png)
    background-repeat: no-repeat
    background-position: center
    background-size: 100%
    margin: auto
    width: 54px
    height: 54px

.habit-toggle-on
    background-image: url(../images/status-toggle-on.png)

.habit-toggle-ctr
    display: table-cell
    text-align: center
    padding: 0 17px

.habit
    border-bottom: 1px solid #999
    border-top: 1px solid #fff

.habit:first-child
    border-top: none

.habit:last-child
    border-bottom: none

.hidden
    visibility: hidden

@keyframes highlight {
    0% {
        background-color: rgba(255, 255, 255, 0.8)
    }
    100% {
        background-color: none;
    }
}
// .just-toggled
//    animation: highlight 1s linear
//    -webkit-animation: highlight 1s linear
//    -webkit-animation-iteration-count: 1;
//    -webkit-animation-fill-mode: forwards;

.link
    //background-color: $link_off_color
    border: 1px solid $link_off_color
    margin-right: 1px
    padding-right: 5px

.link-true
    background: $link_on_color; /* Old browsers */
    background: -moz-linear-gradient(top, $link_on_color 0%, $link_on_color_bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$link_on_color), color-stop(100%,$link_on_color_bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $link_on_color 0%,$link_on_color_bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -ms-linear-gradient(top, $link_on_color 0%,$link_on_color_bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom, $link_on_color 0%,$link_on_color_bottom 100%); /* W3C */
    border: 1px solid $link_off_color

@keyframes nav_fade
    0% { opacity:0; }
    100% { opacity:1; }

.nav-loc

.nav-loc.ng-enter
    animation: nav_fade 350ms linear
    -webkit-animation: nav_fade 350ms linear
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;

.navigation
    background: $navbar_color;
    border-bottom: 1px solid $background_color_top
    box-shadow: 0 -1px 7px #000
    padding: 7px 0

.pointer
    cursor: pointer

.right
    text-align: right

.settings
    background: rgba(166, 186, 191, 0.15)
    color: #eee
    border-radius: 0.35em
    margin-top: $nav_height
    padding: 1.5em
    text-shadow: 1px 1px 0 #000

.settings h1, h2
    color: #fff

.start
    background: #212526
    color: #fff6f4
    height: 100%
    text-shadow: 1px 1px 0 #000
    padding: 1.5em

.start h1
    margin: 0.75em 0
    text-shadow: 1px 1px 0 #000

.toggle-btn
    margin: 2em 0.5em 2em 0

.underline
    text-decoration: underline

//.view
//    height: 100%

