
<hbt-navbar></hbt-navbar>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 center">
        <div class="day">{{day}}</div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 center">

      <div ng-repeat="habit in habits track by $index" 
           class="card"
           ng-class="{'just-toggled': ($index == toggledIndex)}">

        <div class="card-toggle habit-toggle" 
          ng-click="toggleStatus(habit.id, $index)"
          ng-class="{ 'habit-toggle-on': habit.completed_today }">
          &nbsp;
        </div>

        <div class="card-chain">
          <span ng-repeat="link in habit.chain track by $index"
            ><span class="card-link card-link-{{link.completed}}"
            ><img src="images/blank.gif" width="2"/></span></span>
        </div>

        <div class="card-title" ng-click="loadDetails(habit.id)">
          {{habit.text}}
          <div class="card-details-link">
            <i class="icon-list-alt icon-white"></i>
          </div>
        </div>

      </div>
    </div> <!-- span12 -->
  </div> <!-- row -->
</div>
