
<hbt-navbar></hbt-navbar>

<div class="container-fluid content">
  <div class="row-fluid">
    <div class="span12">
<!-- Habit Details start -->

<h1>{{habit.text}}</h1>

<!-- Habit Details end -->
    </div><!-- span -->
  </div><!-- row -->

  <div class="row-fluid details-btns">
    <div class="span12">
        <button type="button" class="btn btn-default btn-lg pull-left"
          ng-click="">
          <i class="icon-arrow-left"></i>
          Cancel
        </button>
        <button type="button" class="btn btn-default btn-lg pull-right"
          ng-click="deleteHabit({{habit.id}})">
          <i class="icon-remove"></i>
          Delete
        </button>
    </div>
  </div>
</div><!-- container -->
