
<hbt-navbar button-type='cancel'></hbt-navbar>

<div class="container-fluid content">
  <div class="row-fluid">
    <div class="span12">
<!-- Habit Details start -->

<h1>{{habit.text}}</h1>

<p>
  You got started on this habit {{tracked_from}},
  and have completed it on {{stats.completed_links}} of the last {{stats.total_links}} days.
</p>

<table class="habits">
  <!-- Each Habit -->
  <tr ng-repeat="link in chain" class="habit"
    ng-class="{ 'just-toggled': $index == toggledIndex }"
    ng-click="toggleLink(link.link_date, $index)">
    <td class="habit-overview">
      <h2>{{link.day_main}}</h2>
      <p>
        {{link.day_sub}} 
        <span ng-switch="link.completed">
          <span ng-switch-when="true"> - done.</span>
          <span ng-switch-default> - skipped.</span>
        </span>
      </p>
    </td>
    <td class="details-completed details-completed-{{link.completed}}">
      &nbsp;
    </td>
  </tr>
</table>

<!-- Habit Details end -->
    </div><!-- span -->
  </div><!-- row -->

  <div class="row-fluid details-btns">
    <div class="span12">
        <button type="button" class="btn btn-default btn-lg pull-left"
          ng-click="confirmReset({{habit.id}})">
          <i class="icon-time"></i>
          Reset
        </button>
        <button type="button" class="btn btn-default btn-lg pull-right"
          ng-click="confirmDelete({{habit.id}})">
          <i class="icon-remove"></i>
          Delete
        </button>
    </div>
  </div>
</div><!-- container -->
