
<hbt-navbar button-type='list'></hbt-navbar>

<div class="details constrain-width">

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">

<h1 class="details-title">{{habit.text}}</h1>
<p>{{ habit | main_summary }}</p>

    </div>
  </div><!-- row -->


<!-- Each Habit -->
<div ng-repeat="link in chain track by $index" class="row-fluid details-link">
  <div class="span3">
    <div class="details-cal">
      <span class="details-cal-day">{{link.link_date | day_num}}</span>
      <span class="details-cal-month">{{link.link_date | day_month}}</span>
    </div>
  </div>

  <div class="span6">
    <div class="details-day">
      <span class="details-day-name">{{link.link_date | day_week}}</span>
      <span ng-switch="link.completed">
        <div ng-switch-when="true" class="details-day-completed">completed</div>
        <div ng-switch-default class="hidden">skipped</div>
      </span>
    </div>
  </div>

  <div class="span3">
    <div class="details-toggle">
      <div class="habit-toggle"
        ng-class="{ 'habit-toggle-on': link.completed }"
        ng-click="toggleLink(link.link_date, $index)">&nbsp;</div>
    </div>
  </div>
</div>

<!-- Habit Details end -->

  <div class="row-fluid details-btns">
    <div class="span12">
        <button type="button" class="btn btn-default btn-lg pull-left"
          ng-click="confirmReset(habit.id)">
          <i class="icon-time"></i>
          Reset
        </button>
        <button type="button" class="btn btn-default btn-lg pull-right"
          ng-click="confirmDelete(habit.id)">
          <i class="icon-remove"></i>
          Delete
        </button>
    </div>
  </div>
</div><!-- container -->

</div><!-- details -->
