
<hbt-navbar></hbt-navbar>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 center">
        <div class="day">{{day}}</div>
    </div>
  </div>
</div>

<div class="habits">

  <div ng-repeat="habit in habits" class="habit">
    <table>
      <tr>
        <td class="habit-toggle-ctr center" ng-click="toggleStatus(habit.id, $index)">
          <div class="habit-toggle" 
            ng-class="{ 'habit-toggle-on': habit.completed_today }">
              &nbsp;
          </div>
        </td>
        <td class="habit-overview" valign="top" ng-click="loadDetails(habit.id)">
          <h2>{{habit.text}}</h2>
          <div class="chain">
            <span ng-repeat="link in habit.chain"
              ><br ng-if="$index % 21 == 0 && $index > 0" 
              /><span class="link link-{{link.completed}}"
              >&nbsp;</span></span>
          </div>
        </td>
      </tr>
    </table>
  </div>

</div>
