
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">

    <div class="brand" ng-switch="buttonType">

      <!-- list - Back to List -->
      <div class="nav-loc" ng-switch-when="list">
        <a href="/">
          <img src="images/back.png" /><img 
            src="images/logo-nav.png" />
        </a>
      </div><!-- list -->

      <!-- details - Back to Details -->
      <div class="nav-loc" ng-switch-when="details">
        <a ng-click="goBack()" class="pointer">
          <img src="images/back.png" /><img 
            src="images/details.png" />
        </a>
      </div>

      <!-- Default - Habitual Icon -->
      <div class="nav-loc" ng-switch-default>
        <a href="/">
          <img 
          src="images/logo-nav.png" />
        </a>
      </div><!-- Default - Icon to home -->
    </div> <!-- ng-switch buttonType -->

    <ul class="nav pull-right">
      <li>
        <a ng-click="loadAddScreen()" class="pointer">
          <img src="images/add-icon.png" />
        </a>
      </li>
    </ul><!-- nav -->

  </div><!-- navbar-inner -->
</div><!-- navbar -->
