
<div class="navigation navbar-fixed-top">

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2">
<!-- Left Hand Button -->
<div class="brand" ng-switch="buttonType">

  <!-- list - Back to List -->
  <div class="nav-loc" ng-switch-when="list">
    <a href="#/">
      <img src="images/list.png" />
    </a>
  </div><!-- list -->

  <!-- details - Back to Details -->
  <div class="nav-loc" ng-switch-when="details">
    <a ng-click="goBack()" class="pointer">
      <img src="images/details2.png" />
    </a>
  </div>

  <!-- Default - Settings Icon -->
  <div class="nav-loc" ng-switch-default>
    <a href="#/settings">
      <img src="images/logo-nav-white.png" />
    </a>
  </div><!-- Default - Icon to home -->
  </div> <!-- ng-switch buttonType -->
    </div>

    <div class="span8 center">
      <div class="title">Habitual</div>
    </div>

    <div class="span2 right">
<!-- Right Hand Button (Add) -->
<a ng-click="loadAddScreen()" class="pointer">
  <img src="images/add-icon.png" />
</a>
    </div>
  </div><!-- row -->
</div><!-- container -->

</div>

<div class="screensize"
     ng-if="showScreenControls()">
    <a id="screensize-btn"
       ng-click="toggleScreenSize()"
       ng-switch="screensize">
        <i ng-switch-when="fullscreen"
           class="icon-resize-small icon-white"></i>
        <i ng-switch-when="regular"
           class="icon-fullscreen icon-white"></i>
    </a>
</div>
