
<hbt-navbar button-type="list"></hbt-navbar>



<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12 center">

<div class="settings constrain-width">

    <div class="center">
      <img src="images/logo-transparent.png" width="128" />
    </div>


    <hr />
    <p>
    Click the + icon
    (in the upper-right corner) to enter in something you would
    like to do habitually, and then track your accomplishments daily.
    Once you've done it daily for six weeks, it's a habit!
    </p>
    <hr />

    <p>
    Habitual is developed by
    <a href="http://aglsoftware.com" target="_system">AGL Software Labs</a>
    in Dayton, Ohio, USA.
    </p>

    <hr />

    <p>
    Version 0.2.6 - February, 2014
    </p>

<!-- Development
    <hr />
    <p>
      <ul>
        <li><a ng-click="generateData()">Generate Test Entries</a></li>
        <li><a ng-click="timeMachine()">Fill Out Historical Data</a></li>
        <li><a ng-click="clearAll()">Clear Data</a></li>
      </ul>
    </p>
-->

</div>

    </div><!-- span -->
  </div><!-- row -->
</div><!-- container -->
